<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <div class="navbar">
        <a href="/about-us">About</a>
        <div class="dropdown">
            <button class="dropbtn">Quiz
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Students</a>
                <a href="#">Teachers</a>
            </div>

        </div>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        
    </div>
    <br><br>

    Welcome to DSC quiz app !
    Here we provide a wide variety of options for teachers as well as students!
    <a href="#">
        </div>
</body>

</html>
</body>

</html>