<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    
        {% include "Users/includes/navbar.html" %}
        
        {% include "Users/includes/messages.html" %}
        <div class="container">
        {% block content  %}
        {% endblock  %}
        </div>

      <script type="text/javascript" src="/static/css/materialize/js/materialize.min.js"></script>
    </body>
  </html>