{% extends "Users/base.html" %}
{% block content  %}

    <div>
        <div class="Login" style="text-align : center">
        <div class="Login_Form" style="display: inline-block">
            <h2>Welcome</h2>
            <p><h3>This is our login page</h3></p>
            <br><br>
            <h1>Login</h1>
            <form method="post" action="/accounts/profile/">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock  %}
